<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    {{student.as_p}}
    {{marks.as_p}}
    <p><input type="submit" value="submit"></p>

</form>
</body>
</html>