<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" value="submit"></p>

</form>
</body>
</html>