<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                    {% if 'onlineapp.add_college' in permissions %}
                    <a class="button is-primary" href="{% url 'add_college_html' %}"><strong>Add college</strong></a>
                    {% endif%}
                </div>
            </div>
         </div>
        <div class="navbar-start">
            <div class="navbar-item">
                <label><strong>Participating Colleges</strong></label>
            </div>
        </div>

    </div>
    <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class='button is-light' href="{% url 'logout_html' %}">logout</a>
                </div>
            </div>
    </div>
</nav>

<center style="padding:10px"><table class="table is-striped" width="75%" >
    <thead>
    <tr>
        <th>College</th>
        <th>markslink</th>
         {% if 'onlineapp.change_college' in permissions and 'onlineapp.delete_college' in permissions  %}
        <th>Action</th>
        {% endif %}
    </tr>

    </thead>
    <tbody>
     {%for college in colleges %}
    <tr>
        <td>{{college.name}}</td>
        <td><a href="http://127.0.0.1:8000/get_all_marks/{{college.acronym}}">marks for {{college.acronym}}</a></td>
        {% if 'onlineapp.change_college' in permissions and 'onlineapp.delete_college' in permissions  %}
        <td><a href="{% url 'edit_college_html' college.acronym %}">edit</a>
        |
         <a href="{% url 'delete_college_html' college.acronym %}">delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>